// header variable
$header-bg: #444f6b;
$logo-color: #fff;
$search-bg: #00b1f6;

//footer variable
$footer-bg: #272e3b;

// home
$home-bg: #3a455a;
$card-bg: #f2f7f6;
$container-box-shadow: 0px 2px 5px 2px rgb(0 0 0 / 10%);