<div class="not-found">
  <div class="container text-center">
    <h1>OOP!!</h1>
    <h3>UH OH! You're lost.</h3>
    <p>The page you are looking for does not exist. How you got here is a mystery. But you can click the button below to
      go back to the homepage.</p>

    <div class="text-center">
      <button class="back" mat-fab extended color="primary" (click)="BackToListPage()">
        <mat-icon class="arrow">arrow_back_ios_new</mat-icon>
        Go Back
      </button>
    </div>
  </div>
</div>